{{ extend 'layout_noext.html' }}

<section id="content">
  <section id="main">  		    
    
    <article>
      
      <h2>Mission</h2>
      
      <p>Build a web platform for global environmental health research that fosters collaboration across disciplines and national boundaries--accelerating discovery, advancing outbreak detection, and improving prevention. Make the platform available to multiple disciplines and regions as skapes.org</p>
      
    </article>
    
    <article>
      
      <h2>Development status</h2>
      <p>This version (v0.4) was released in June 2011 to showcase web approaches to global health research. This website and alpha application are under active development. Through open and public development practices (e.g. Launchpad) we hope to to encourage the global environmental health and open source communities to join us in the development of a new analytical cyberinfrasture

        NOTE: This alpha release (v.04) is not yet stable ... it is a proof of concept and contents may change on short notice. Please join our Google Group Mailing List (sidebar) for updates or visit the documentation on our <a href="http://dev.skapes.org/">Trac Wiki</a>. Please check back often.
      </p>
      
      </article>
    
<article>
      
      <h2>Opening a web of knowledge discovery</h2>
      
      <p>Global public health in the 21st century will require careful attention to processes of global environmental change. These challenges necessitate open, interdisciplinary access to cross-cutting tools and data. The flow of information is currently limited by a lack of tools to integrate datasets, maps, and local knowledge. Advances in computing hold the promise of a new cyberinfrastructure for studying global environmental change and human health. Healthscapes leverages these advances to address: difficulties finding relevant information, limited access to analytical tools, and poor knowledge transfer across a fractured social network.</p>
      
</article>
    
<article>
      
      <h2>Acknowledgements</h2>
      
      <p>This website is being developed with numerous open source technologies, including: web2py, openstreetmap, python, geoserver, openlayers, geoext, extjs, jquery, and <a href="http://trac.healthscapes.org/trac.healthscapes/wiki/Acknowledgements">others</a>. Our technology stack is inspired and powered by the work of the Sahana Foundation (open source disaster management system). As such, it is designed extend the geospatial analytical capacity of the Sahana Eden platform.</p>
      
</article>

    
  </section>

  <aside>
    {{include 'default/info.html'}}  
    
  </aside>
  

</section>
