<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/css/core.css" />
<!--<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/styles/about.css" />
<link rel="stylesheet" type="text/css" href="/{{= request.application }}/static/styles/team.css" />-->
<link rel="stylesheet" type="text/css" href="http://skapes.org/media/css/coin-slider/coin-slider-styles.css" />
<script type='text/javascript' src="http://skapes.org/media/js/coin-slider/coin-slider.min.js"></script>
