        
            <h2>Headlines</h2>
            
            <ul>
                <li><span class='date'>11-Jun-2011 - [v0.4.1]</span>Re-structured scientific blog and wiki</li>            
                <li><span class='date'>11-Jun-2011 - [v0.4.1]</span>Re-structured scientific blog and wiki</li>            
                <li><span class='date'>11-Jun-2011 - [v0.4]</span>Alpha soft-launch at WhereCampDC (Washinton, USA)</li>
                <li><span class='date'>14-Feb-2011 - [v0.3]</span>App released at One Health Congress (Melbourne, Australia)</li>
                <li><span class='date'>16-Jan-2011 - [v0.2]</span>Map viewing client switched to custom interface</li>
                <li><span class='date'>22-Oct-2010 - [v0.1.5]</span>Demo released</li>
                <li><span class='date'>21-Oct-2010 </span>Source code moved to Launchpad</li>
                <li><span class='date'>20-Aug-2010 - [v0.1]</span>Prototype launched at Ecohealth (London)</li>
            
            </ul>
        
        
            <h2>Join Us</h2>
            
            <ul>
            
                <li>Get Involved: <a href="http://dev.skapes.org/">Trac Development Site</a></li>
                <li>Source Code: <a href="https://github.com/dotskapes/dotSkapes">Launchpad</a></li>
                <li>Mailing list: <a href="http://groups.google.com/group/healthscapes">Google Group</a></li>
                <li>Developer Chat: <a href="https://convore.com/skapes-dev/">Convore Group</a></li>
            
            </ul>
        

  
