<div id='blog'>


<h2>Join Us</h2>

<ul>
  
  <li>Get Involved: <a href="https://github.com/dotskapes/dotSkapes/wiki">GitHub Dev Wiki</a></li>
  <li>Source Code: <a href="https://github.com/dotskapes/dotSkapes">GitHub Code Repo</a></li>
  
</ul>


  <h2>Release History</h2>

  <ul>
    <li>
      <p class='title'> [v0.5] AB - Alpha-Beta Release</p>
      <p class='date'>12-Jun-2012</p>
    </li> 

    <li>
      <p class='title'>[v0.4.1] Re-structured scientific blog and wiki</p>
      <p class='date'>15-Nov-2011</li> 
</li> 

<li>
  <p class='title'>[v0.4] Alpha soft-launch at WhereCampDC (Washinton, USA)</p>
  <p class='date'>11-Jun-2011</p>
</li> 

<li>
  <p class='title'>[v0.3] App released at One Health Congress (Melbourne, Australia)</p>
  <p class='date'>14-Feb-2011</p>
</li> 

<li>
  <p class='title'>[v0.2] Map viewing client switched to custom interface</p>
  <p class='date'>16-Jan-2011</p>
</li> 

<li>
  <p class='title'>[v0.1.5] Demo released</p>
  <p class='date'>22-Oct-2010</p>
</li> 

<li>
  <p class='title'>[v0.1] Launched at Ecohealth (London)</p>
  <p class='date'>20-Aug-2010</p>
</li>

</ul>

<h2>Repository History</h2>

<ul>

  <li>
    <p class='title'>Source code moved to GitHub</p>
    <p class='date'>15-Aug-201</p>
  </li> 

  <li>
    <p class='title'>Source code moved to Launchpad</p>
    <p class='date'>21-Oct-2010</p>
  </li> 

  <li>
    <p class='title'>Source code moved to BitBucket</p>
    <p class='date'>12-Jun-2009</p>
  </li>
  
</ul>

</div>
