			    <div class='icon'>
			    	<a href="#">
			    	    <img src="{{=URL('static','images/tutorial.svg')}}"/>
			    	    <h3>Tutorials</h3>
			    	</a>
			    	<p>Resources for doing science with the dotSkapes platform.</p>
			    </div>
			    
			    <div class='icon'>
			    	<a href="{{=URL(r=request, c='wiki', f=docs')}}">
			    	    <img src="{{=URL('static','images/documents.svg')}}"/>
			    	    <h3>Documents</h3>
			    	</a>
			    	<p>Our nascent documentation system.</p>
			    </div>
			    
			    <div class='icon'>
			    	<a href="{{=URL(r=request, c='wiki', f=researcher')}}">
			    	    <img src="{{=URL('static','images/researcher.svg')}}"/>
			    	    <h3>Researcher</h3>
			    	</a>
			    	<p>Resources for doing research with dotSkapes.</p>
			    </div>
			    
			    <div class='icon'>
			    	<a href="{{=URL(r=request, c='wiki', f=developer')}}">
			    	    <img src="{{=URL('static','images/developer.svg')}}"/>
			    	    <h3>Developer</h3>
			    	</a>
			    	<p>Resources for understanding or contributing to our infrastracture.</p>
			    </div>
			    
			    <div class='icon'>
			    	<a href="{{=URL(r=request, c='wiki', f=case')}}">

			    	    <img src="{{=URL('static','images/casestudy.svg')}}"/>
			    	    <h3>Case Study</h3>
			    	</a>
			    	<p>Examples of dotSkapes in the wild.</p>
			    </div>
