{{extend 'layout_noext.html'}}

<section id="main" style="text-align:justify" class="wiki">
  <article>

    <h2>Terms of Use</h2>
    <p>This website depends on the efforts of others. You are
      free to use the code and content, under the conditions of MIT and
      CC licenses respectively. However, in doing so, please retain
      attribution for my upstream sources, specifically:
    <p><a href="http://www.web2py.com">Web2Py</a> - Enterprise web framework</p>

    <p>
     - Thanks Skapes Team
    </p>

    <h3> Source Code</h3>
    <p>The source code for this website is available at <a href="https://github.com/dotskapes/dotskapes">GitHub</a></p>

    </p>
  </article>
</section>
