		    
			<!-- <div id='twitter'> -->
		
			<!--     <script src="http://widgets.twimg.com/j/2/widget.js"></script> -->
			<!--     <script> -->
			<!--     new TWTR.Widget({ -->
			<!--       version: 2, -->
			<!--       type: 'profile', -->
			<!--       rpp: 2, -->
			<!--       interval: 6000, -->
			<!--       width: 'auto', -->
			<!--       height: 115, -->
			<!--       theme: { -->
			<!-- 	shell: { -->
			<!-- 	  background: '#e0e0e0', -->
			<!-- 	  color: '#75acff' -->
			<!-- 	}, -->
			<!-- 	tweets: { -->
			<!-- 	  background: '#f5f5f5', -->
			<!-- 	  color: '#000000', -->
			<!-- 	  links: '#aea3ff' -->
			<!-- 	} -->
			<!--       }, -->
			<!--       features: { -->
			<!-- 	scrollbar: true, -->
			<!-- 	loop: false, -->
			<!-- 	live: false, -->
			<!-- 	hashtags: true, -->
			<!-- 	timestamp: true, -->
			<!-- 	avatars: false, -->
			<!-- 	behavior: 'all' -->
			<!--       } -->
			<!--     }).render().setUser('dotskapes').start(); -->
			<!--     </script> -->
			    
			<!-- </div> -->
