.bzr
.bzrignore
*.pyc
*.py~
cache/*
cron/crontab
databases/*
errors/*
models/000_config.py
models/config.py
sessions/*
static/scripts/tools/httpserver.log
uploads/*
tool/*
tool/tmp/*
tool/results/*
tool/files/*
.openid/*
.tmp/*
.raw/*
static/videos/*
static/scripts/ext/.docs/*
static/scripts/ext/.examples/*
static/scripts/ext/.test/*
static/scripts/gis/openlayers/.apidoc_config/*
static/scripts/gis/openlayers/.build/*
static/scripts/gis/openlayers/.doc/*
static/scripts/gis/openlayers/.doc_config/*
static/scripts/gis/openlayers/.examples/*
static/scripts/gis/openlayers/.tests/*
static/scripts/gis/openlayers/.tools/*
static/scripts/gis/GeoExt/.build/*
static/scripts/gis/GeoExt/.docs/*
static/scripts/gis/GeoExt/.examples/*
static/scripts/gis/GeoExt/.tests/*
static/scripts/gis/mapfish/.tests/*
static/selenium/results/*
static/selenium/scripts/diagTestResults.txt
static/*/.svn/*
static/*test*
static/videos/*
tests/.cherrypy/*
.DS_Store
languages/*.po
__init__.pyc
*.log

