

<script type="text/javascript" src="/{{=request.application}}/scripts/base.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/utils.js"></script>
<script type="text/javascript" src="/{{=request.application}}/scripts/data.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/tree.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/grid.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/panels/side.js"></script>
<script language="javascript" type="text/javascript" src="/{{=request.application}}/static/scripts/edit_area/edit_area_full.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/base.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/dev.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/result.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/jquery-functions.js"></script>
{{ include request.controller + '/head.html'}}
