<link rel="stylesheet" type="text/css" href="http://skapes.org/media/js/ext/resources/css/ext-all.css" />
<script src="{{= deployment_settings.extjs.location}}/adapter/jquery/ext-jquery-adapter.js"></script>
<script src="{{= deployment_settings.extjs.location}}/ext-all.js" type="text/javascript"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/utils.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/tree.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/grid.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/panels/side.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/base.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/dev.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/result.js"></script>
