{{response.files.append(URL('static','css/base.css'))}}
{{response.files.append(URL('static','css/layout.css'))}}
{{response.files.append(URL('static','css/superfish.css'))}}
{{response.files.append(URL('static','js/superfish.js'))}}

<script type="text/javascript" src="/{{=request.application}}/scripts/base.js"></script>
<script language="javascript" type="text/javascript" src="/{{=request.application}}/static/scripts/edit_area/edit_area_full.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/jquery-functions.js"></script>
{{ include request.controller + '/head.html'}}
