{{ vars = load_user_globals () }}
{{ if not globals ().has_key ('hs_component'): }}
{{ hs_component = None }}
{{ pass }}

<!doctype html>  
<html> 
  <head>

    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">


      {{ include 'web2py_ajax.html' }}
      {{ include 'head.html' }}

    </head>
    <body>
      <div class="flash">{{=response.flash or ''}}</div>

      <div id="main_panel">

        <div id='home'>
          
          <div id='wrapper'>
            
            <div id = 'header'>
              {{include 'header.html'}}
	    </div>

            {{ include }}

	  </div>
        </div>
      </div>
    </body>



  </html>
