{{ vars = load_user_globals () }}
{{ if not globals ().has_key ('hs_component'): }}
{{ hs_component = None }}
{{ pass }}

<!doctype html>  
<html> 
  <head>
    <title>The dotSkapes Project</title>
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">

    {{ include 'web2py_ajax.html' }}
    {{ include 'head.html' }}

  </head>

  <body>
    <div class="flash">{{=response.flash or ''}}</div>

    <header>
      {{include 'header.html'}}
    </header>

    <nav>
      {{include 'nav.html'}}
    </nav>

    {{include}}

    <footer>
      {{include 'footer.html'}}
    </footer> 


  </body>



</html>
