{{ vars = load_user_globals () }}
{{ if not globals ().has_key ('hs_component'): }}
  {{ hs_component = None }}
{{ pass }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<style>div#head_panel a {padding: 5px;}</style>

<link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">

{{response.files.append(URL('static','css/base.css'))}}
{{response.files.append(URL('static','css/layout.css'))}}
{{response.files.append(URL('static','css/superfish.css'))}}
{{response.files.append(URL('static','js/superfish.js'))}}
{{ include 'web2py_ajax.html' }}

{{ include 'head.html' }}

<script type="text/javascript">
    hs.app = {};
    //window.addEventListener ('load', function () {
    Ext.onReady (function () {
   
    if (!('console' in window)) {
        console = {
            log: function () {},
            err: function () {},
    };
    }
    hs.app.user = {};

    {{if vars.side_bar:}}

    hs.app.user.maps = new hs.side.MapPanel ({{response.write (vars.maps_saved, escape = False)}});

    hs.app.user.tools = new hs.side.ToolPanel ({{response.write (vars.tool_list, escape = False)}});

    hs.app.user.results = new hs.side.ResultPanel ({{response.write (vars.tool_saved_results, escape = False)}});

    hs.app.user.analyses = new hs.side.AnalysisPanel ({{response.write (vars.tool_saved_analyses, escape = False)}});

    {{ else: }}

    hs.app.user.maps = null;
    hs.app.user.tools = null;
    hs.app.user.results = null;
    hs.app.user.analyses = null;

    {{ pass }}

    {{ if vars.dev_tools: }}

    hs.app.user.dev = new hs.side.DevPanel ({{response.write (vars.in_dev, escape = False)}});

    {{ pass }}

    headPanel = new Ext.Panel ({
        activeTab: 0,
    autoScroll: true,
    layoutOnChange: true,
    region: 'north',
        autoHeight: true,
    contentEl: 'head_panel'
    });


    {{ if request.controller == 'map': }}
    hs.app.map = mapTab = new hs.map.Panel ({
    title: 'Map',
    region: 'center',
    });
    {{ mainElement = 'hs.app.map' }}
    if (hs.app.user.maps)
        hs.app.user.maps.linkMap (hs.app.map);  
    {{ elif request.controller == 'info': }}
    hs.app.info = new hs.info.Panel ({
    title: 'Info',
    region: 'center',
    layout: 'border',
    });
    {{ mainElement = 'hs.app.info' }}
    {{ elif request.controller == 'find': }}
    hs.app.find = new hs.find.Panel ({
    title: 'Depot',
    region: 'center',
    });
    {{ mainElement = 'hs.app.find' }}
    {{ elif request.controller == 'analyze': }}
    hs.app.tool = new hs.tool.Panel (hs.app.user.results, hs.app.user.analyses, {
        region: 'center',
    });
    {{ mainElement = 'hs.app.tool' }}
    {{ else: }}
    {{ mainElement = None }}
    {{ pass }}
    

    contentPanel = new Ext.Panel ({
        activeTab: 0,
    autoScroll: true,
    layoutOnChange: true,
    region: 'center',
        {{ if mainElement: }}
        layout: 'border',
        items: [
            {{= mainElement }}
        ]
        {{ else: }}   
    contentEl: 'main_panel',
        {{ pass }}
    });
 
    mainPanel = new Ext.Panel ({
        activeTab: 0,
    autoScroll: true,
    layoutOnChange: true,
    region: 'center',
        layout: 'border',
        items: [
            headPanel,
            contentPanel,
        ]
    });
    hs.side = new Ext.Panel ({
        title: 'Controls',
    autoScroll: true,
    //collapsible: true,
    width: 250,
    region: 'west',
        items: [
        {{ if not vars.side_bar: }}{
        xtype: 'panel',

        html: '<div style="text-align: center;"><!--<a href="{{=URL (a=request.application, c='default', f='user', args=['register'])}}">Register</a> or--><a href="{{=URL (scheme='http', a=request.application, c='default', f='user', args=['login'])}}">Login</a> with Gmail to activate your sidebar</div>',

        border: false,
        padding: 10,
            },{{else:}}
        {
        xtype: 'panel',
        html: '<div><a href="{{=URL (a=request.application, c='default', f='user', args=['logout'])}}">Logout</a></div>',
        border: false,
        padding: 10,
            },
            {{pass}}
            {{ if vars.side_bar: }}hs.app.user.maps,
            {{ if vars.dev_tools: }}hs.app.user.dev,{{pass}}
            hs.app.user.tools,
            hs.app.user.results,
            hs.app.user.analyses,{{pass}}
        ],
    });
    win = new Ext.Viewport ({
        title: 'skapes v0.4.2',
        //layoutOnChange: true,
        //collapsible: false,
        //maximizable: true,
        //maximized:   true,
        titleCollapse: true,
        layout: 'border',
        id: 'main_window',
        items:  [
        {
        title: 'Skapes v0.4.2',
        height: 'autoHeight',
        region: 'north',
        border: false,
        },
            hs.side,
            mainPanel, 
        ],
    {{ if request.controller == 'analyze' and tool: }}
    listeners: {
        afterrender: function () {
        hs.app.tool.dropTool ({{ response.write (tool, escape = False) }});
        }
    },
    {{ pass }}
    });
    //win.show ();
    //win.toBack();
    //win.tools.close.hide();
    //win.tools.restore.hide();

    //}, false);
    });

</script>
</head>
<body>
    <div class="flash">{{=response.flash or ''}}</div>
    <div id="head_panel">

	<a id='head_panel_main'  class='menu_button' href="/{{= request.application }}/default">Home</a>
	<a class='menu_button' href="/{{= request.application }}/map"><img src="/{{=request.application}}/static/images/favicon.png" alt="Map"/>Map</a>
	<a class='menu_button' href="/{{= request.application }}/find" title='depot'>Depot</a>
	<a class='menu_button' href="/{{= request.application }}/analyze"title='lab'>Lab</a>
	<a class='menu_button' href="#" style="background-color:grey;" title='dash'>Dash</a>
	<a id='head_panel_docs' class='menu_button' href="/{{= request.application }}/wiki/docs">Docs</a>

	<br />

    </div>

    <div id="main_panel">


	<div id='mouseleave' style='height:20px'>
		<div id='submenu' style="display:none;">	

			<a class='menu_button' href="/{{= request.application }}/wiki/blog">Blog</a>
			<a class='menu_button' href="/{{= request.application }}/about">About</a>
			<a class='menu_button' href="/{{= request.application }}/team">Team</a>

		</div>

		<div id='submenu_docs' style="display:none;">	

			<a class='menu_button' href="/{{= request.application }}/wiki/cases">Case Studies</a>
			<a class='menu_button' href="/{{= request.application }}/wiki/tutorials">Tutorials</a>
			<a class='menu_button' href="/{{= request.application }}/wiki/researcher">Researcher</a>
			<a class='menu_button' href="/{{= request.application }}/wiki/dev">Developer</a>

		</div>
	</div>

      {{ include }}

    </div>
</body>



</html>
