{{ vars = load_user_globals () }}
{{ if not globals ().has_key ('hs_component'): }}
  {{ hs_component = None }}
{{ pass }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<style>div#head_panel a {padding: 5px;}</style>

<link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">

{{response.files.append(URL('static','css/base.css'))}}
{{response.files.append(URL('static','css/layout.css'))}}
{{response.files.append(URL('static','css/superfish.css'))}}
{{response.files.append(URL('static','js/superfish.js'))}}
{{ include 'web2py_ajax.html' }}

<script src="{{= deployment_settings.extjs.location }}/adapter/jquery/ext-jquery-adapter.js"></script>
<script src="{{= deployment_settings.extjs.location }}/ext-all.js" type="text/javascript"></script>
<script type="text/javascript" src="/{{=request.application}}/scripts/base.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/utils.js"></script>
<script type="text/javascript" src="/{{=request.application}}/scripts/data.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/tree.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/grid.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/panels/side.js"></script>
<script language="javascript" type="text/javascript" src="/{{=request.application}}/static/scripts/edit_area/edit_area_full.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/base.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/dev.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/windows/result.js"></script>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.6.2.min.js'></script>

{{ include 'head.html' }}

<link rel="stylesheet" type="text/css" href="http://skapes.org/media/js/ext/resources/css/ext-all.css" />

<script type="text/javascript">
    hs.app = {};
    //window.addEventListener ('load', function () {
    Ext.onReady (function () {
   
    if (!('console' in window)) {
        console = {
            log: function () {},
            err: function () {},
    };
    }
    hs.app.user = {};

    {{if vars.side_bar:}}

    hs.app.user.maps = new hs.side.MapPanel ({{response.write (vars.maps_saved, escape = False)}});

    hs.app.user.tools = new hs.side.ToolPanel ({{response.write (vars.tool_list, escape = False)}});

    hs.app.user.results = new hs.side.ResultPanel ({{response.write (vars.tool_saved_results, escape = False)}});

    hs.app.user.analyses = new hs.side.AnalysisPanel ({{response.write (vars.tool_saved_analyses, escape = False)}});

    {{ else: }}

    hs.app.user.maps = null;
    hs.app.user.tools = null;
    hs.app.user.results = null;
    hs.app.user.analyses = null;

    {{ pass }}

    {{ if vars.dev_tools: }}

    hs.app.user.dev = new hs.side.DevPanel ({{response.write (vars.in_dev, escape = False)}});

    {{ pass }}

    headPanel = new Ext.Panel ({
        activeTab: 0,
    autoScroll: true,
    layoutOnChange: true,
    region: 'north',
        autoHeight: true,
    contentEl: 'head_panel'
    });


    {{ if request.controller == 'map': }}
    hs.app.map = mapTab = new hs.map.Panel ({
    title: 'Map',
    region: 'center',
    });
    {{ mainElement = 'hs.app.map' }}
    if (hs.app.user.maps)
        hs.app.user.maps.linkMap (hs.app.map);  
    {{ elif request.controller == 'info': }}
    hs.app.info = new hs.info.Panel ({
    title: 'Info',
    region: 'center',
    layout: 'border',
    });
    {{ mainElement = 'hs.app.info' }}
    {{ elif request.controller == 'find': }}
    hs.app.find = new hs.find.Panel ({
    title: 'Find',
    region: 'center',
    });
    {{ mainElement = 'hs.app.find' }}
    {{ elif request.controller == 'analyze': }}
    hs.app.tool = new hs.tool.Panel (hs.app.user.results, hs.app.user.analyses, {
        region: 'center',
    });
    {{ mainElement = 'hs.app.tool' }}
    {{ else: }}
    {{ mainElement = None }}
    {{ pass }}
    

    contentPanel = new Ext.Panel ({
        activeTab: 0,
    autoScroll: true,
    layoutOnChange: true,
    region: 'center',
        {{ if mainElement: }}
        layout: 'border',
        items: [
            {{= mainElement }}
        ]
        {{ else: }}   
    contentEl: 'main_panel',
        {{ pass }}
    });
 
    mainPanel = new Ext.Panel ({
        activeTab: 0,
    autoScroll: true,
    layoutOnChange: true,
    region: 'center',
        layout: 'border',
        items: [
            headPanel,
            contentPanel,
        ]
    });
    hs.side = new Ext.Panel ({
        title: 'Controls',
    autoScroll: true,
    //collapsible: true,
    width: 250,
    region: 'west',
        items: [
        {{ if not vars.side_bar: }}{
        xtype: 'panel',

        html: '<div style="text-align: center;"><!--<a href="{{=URL (a=request.application, c='default', f='user', args=['register'])}}">Register</a> or--><a href="{{=URL (scheme='http', a=request.application, c='default', f='user', args=['login'])}}">Login</a> with Gmail to activate your sidebar</div>',

        border: false,
        padding: 10,
            },{{else:}}
        {
        xtype: 'panel',
        html: '<div><a href="{{=URL (a=request.application, c='default', f='user', args=['logout'])}}">Logout</a></div>',
        border: false,
        padding: 10,
            },
            {{pass}}
            {{ if vars.side_bar: }}hs.app.user.maps,
            {{ if vars.dev_tools: }}hs.app.user.dev,{{pass}}
            hs.app.user.tools,
            hs.app.user.results,
            hs.app.user.analyses,{{pass}}
        ],
    });
    win = new Ext.Viewport ({
        title: 'skapes v0.4',
        //layoutOnChange: true,
        //collapsible: false,
        //maximizable: true,
        //maximized:   true,
        titleCollapse: true,
        layout: 'border',
        id: 'main_window',
        items:  [
        {
        title: 'Skapes v0.4',
        height: 'autoHeight',
        region: 'north',
        border: false,
        },
            hs.side,
            mainPanel, 
        ],
    {{ if request.controller == 'analyze' and tool: }}
    listeners: {
        afterrender: function () {
        hs.app.tool.dropTool ({{ response.write (tool, escape = False) }});
        }
    },
    {{ pass }}
    });
    //win.show ();
    //win.toBack();
    //win.tools.close.hide();
    //win.tools.restore.hide();

    //}, false);
    });

</script>
</head>
<body>
    <div class="flash">{{=response.flash or ''}}</div>
    <div id="head_panel">
	<a href="/{{= request.application }}/home">Home</a>
	<a href="/{{= request.application }}/map"><img src="/{{=request.application}}/static/images/favicon.png" alt="Map"/></a>
	<a href="/{{= request.application }}/find">F</a>
	<a href="/{{= request.application }}/analyze">A</a>
	<a href="#">S</a>
	<a href="#">T</a>
<!--
      <a href="/{{= request.application }}/wiki/blog">Blog</a>
      <a href="/{{= request.application }}/map">Map</a>
      <a href="/{{= request.application }}/info">Info</a>
      <a href="/{{= request.application }}/find">Find</a>
      <a href="/{{= request.application }}/analyze">Analyze</a>
      <a href="/{{= request.application }}/wiki/case">Case Studies</a>
      <a href="/{{= request.application }}/wiki/tutorials">Tutorials</a>
      <a href="/{{= request.application }}/wiki/docs">Documentation</a>
      <a href="#">Team</a>
      <a href="/{{= request.application }}/about">About</a>
-->
    </div>
    <div id="main_panel">
      {{ include }}
    </div>
</body>



</html>
