 <div style='clear: right;'></div>
  <a href="/{{= request.application }}/wiki/blog" class='letter' title='blog'>Blog</a>
 <a href="/{{= request.application }}/map" class='letter' title='map'>Map</a>
 <a href="/{{= request.application }}/find" class='letter' title='depot'>Depot</a>
 <a href="/{{= request.application }}/analyze" class='letter' title='lab'>Lab</a>
 <a href="/{{= request.application }}/dash" class='letter' title='dash'>Dash</a>
<!-- <a href="#" class='letter' style="background-color:grey;"  title='dash'>Dash</a>-->
 <a href="/{{= request.application }}/wiki/docs/docs/view" class='letter' title='docs'>Docs</a>
 <a href="/{{= request.application }}/default/about" class='letter' title='about'>About</a>
