{{extend 'plugin_wiki/layout.html'}}

<script type="text/javascript" src="{{=URL('static','plugin_wiki/markitup/jquery.markitup.pack.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','plugin_wiki/markitup/sets/markmin/set.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','plugin_wiki/markitup/skins/markitup/style.css')}}" />
<link rel="stylesheet" type="text/css" href="{{=URL('static','plugin_wiki/markitup/sets/markmin/style.css')}}" />
<script src="{{=URL('static','plugin_wiki/elrte-1.0rc4/js/elrte.min.js')}}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{{=URL('static','plugin_wiki/elrte-1.0rc4/css/elrte.full.css')}}" type="text/css" media="screen" charset="utf-8">

{{ #current_cat = load_categories (page) }}
{{ current_cat = [] }}
<script type="text/javascript">
    var cats = []; 
    var cat_link = function () {
	var ob = $(this);
	var val = ob.attr ('cid');
	jQuery.ajax ({
	    url: '{{= URL (r = request, f = 'category_delete') }}',
	    method: 'GET',
	    data: {
		cid: val,
	    },
	    success: function (data) {
		delete cats[val];
		ob.parent ().remove ();
	    },
	});
	return false;
    };
    cats[''] = true;
    {{ for c in current_cat: }}
    cats['{{= c.cid }}'] = true;
    {{ pass }}

    $ (window).load (function () {
	$ ('#add_cat').click (function () {
	    var val = $('#sel_cat').val ();
	    if (!cats[val]) {
		cats[val] = true;
		jQuery.ajax ({
		    url: '{{= URL (r = request, f = 'category_add', args = [page.slug]) }}',
		    method: 'GET',
		    data: {
			cid: val,
		    },
		    success: function (data) {
			$ ('#lst_cat').append ('<li>' + $('#sel_cat option[value="' + val + '"]').text ()  + '&nbsp;&nbsp;&nbsp;&nbsp;<a class ="remove_cat" cid="' + val  + '" href="#">remove</a></li>');
			$ ('.remove_cat[cid="' + val  + '"]').click (cat_link);
		    },
		});
	    }
	    return false;
	});
	$ ('.remove_cat').click (cat_link);
    });
</script>

<div id="plugin_wiki_form">

<form method="POST" action="">
<b>URL:</b><input name="slug" type="text" value="{{= page.slug }}" /><br />
<b>Title:</b><input name="title" type="text" value="{{= page.title }}" /><br/>
<b>Publish:</b><input name="public" type="checkbox" {{if create or page.public: }}checked{{ pass }}/><br />
[{{=plugin_wiki.attachments('page',page.id)}}]
{{if plugin_wiki_level>1:}}[{{=plugin_wiki.widget_builder()}}]{{pass}}<br/>
<textarea name="body" id="plugin_wiki_page_body">{{= page.body }}</textarea><br/>
<input name="pid" type="hidden" value="{{= page['_id'] }}" />
<input name="submit" type="submit" value="Submit" />
</form>
</div>

<select id="sel_cat" name="categories">
  <option></option>
    {{ for c in db (db.plugin_wiki_categories).select (): }}
    <option value="{{= c.id }}">{{= c.category }}</option>
  {{ pass }}
</select>
<input id="add_cat" type="submit" value="Add Category" />
<br />
<b>Categories:</b>
<ul id="lst_cat">
  {{ for c in current_cat: }}
    <li>{{= c.category }}&nbsp;&nbsp;&nbsp;&nbsp;<a class="remove_cat" cid="{{= c.cid }}" href="#">remove</a></li>
  {{ pass }}
</ul>

{{if request.extension=='html' and not page.slug.startswith('meta-'):}}
<script>
jQuery(document).ready(function() {
{{if plugin_wiki_mode=='html':}}
  elRTE.prototype.options.panels.web2pyPanel = [
     'bold', 'italic', 'underline', 'forecolor', 'justifyleft', 'justifyright',
     'justifycenter', 'justifyfull', 'formatblock', 'insertorderedlist', 'insertunorderedlist',
     'link', 'image', 'flash'];
  elRTE.prototype.options.toolbars.web2pyToolbar = ['web2pyPanel', 'tables'];
  var opts = { toolbar  : 'web2pyToolbar' }
  jQuery('#plugin_wiki_page_body').elrte(opts);
{{else:}}
  jQuery('#plugin_wiki_page_body').css('width','700px').css('height','400px').markItUp(mySettings);
{{pass}}
});
</script>

<a href="#" onclick="jQuery('#plugin_wiki_help').slideToggle(); return false;">help</a>
<div id="plugin_wiki_help" class="hidden">
<h2>Help with syntax</h2>
<pre>
# title
## subtitle
### subsubtitle
paragraph with **bold**, ''italic'' and ``code``
[["a link" http://example.com]], [[a_anchor]] and [["a link to" #a_anchor]]
[["an image" http://example.com left 200px]]

- item
- item

+ item 1
+ item 2

-----
blockquote
-----

-----
1 | 2
3 | 4
-----

``
def index():
    return 'hello'
``:code_python

``
name: create
``:widget

``
name: youtube
code: x1w8hKTJ2Co
``:widget

Here is a list of widget names

- read, create, update, search, select, jqgrid
- youtube, vimeo, mediaplayer
- comments, tags, tag_cloud

Consult models/plugin_wiki.py for a list of parameters
</pre>
</div>
{{else:}}
<script>
jQuery(document).ready(function() {
jQuery('#plugin_wiki_page_body').css('width','700px').css('height','400px');
});
{{pass}}
</script>
{{pass}}
