{{extend 'layout.html'}}

<div class='subPage' id='analyze'>

    <div id='feature'>
    
        <div class='box'>
        <h2 class='letter'>1</h2>
        <p>Open find & click tools then drag to sidebar</p>
        </div>

        <div class='box'>
        <h2 class='letter'>2</h2>
        <p>Open 'Analyze' & drag tool to 'Select tool'</p>
        </div>

       
        <div class='box'>
        <h2 class='letter'>3</h2>
        <p>Drag & configure paramenters in analysis</p>
        </div>
        
        <div class='box'>
        <h2 class='letter'>4</h2>
        <p>Submit tool</p>
        </div>



        
    </div>   
    
	<div class="video-js-box" style="margin:0 auto;">
	    <video class="video-js" controls preload='none' poster="{{= URL(r=request, c='static', f='images/logo_white_alpha.png')}}">
	      <source src="{{= URL(r=request, c='static', f='videos/analyze.iphone.mp4')}}"  type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
	      <source src="{{= URL(r=request, c='static', f='videos/analyze.webm')}}" type='video/webm; codecs="vp8, vorbis"'>   
	      <source src="{{= URL(r=request, c='static', f='videos/analyze.theora.ogv')}}"  type='video/ogg; codecs="theora, vorbis"'>
	    </video>
	</div>

</div>
