{{extend 'splash/layout.html'}}

<script type="text/javascript">
    $ (window).load (function () {
    $ ("#search_button").click (function () {
        top.searchFindTab ($ ("#search_box").val ());
    });
    });
</script>

<div class='subPage' id='find'>

    <div id='feature'>
    
        <div class='box'>
        <h2 class='letter'>1</h2>
        <p>Choose a keyword.</p>
        </div>
       
        <div class='box'>
        <h2 class='letter'>2</h2>
        <p>Choose a data type (map, tool, analysis).</p>
        </div>
        
        <div class='box'>
        <h2 class='letter'>3</h2>
        <p>Drag items to your sidebar.</p>
        </div>

        <div class='box'>
        <h2 style='margin-top: 40px;'>Start:</h2>
    <form style="text-align: right;" action="#">
      <h4 style='margin: 75px 0 10px 0; text-align: left;'>Enter a search term below</h4>
      <input id="search_box" type="text" />
      <input id="search_button" type="submit" value="Submit" />
      </form>
        </div>
        
</div>
