{{extend 'splash/layout.html' }}

   <div id='banner'></div>

    <div id='header'>
      <img style="float:right; height:130px; margin-top: 5px;" src="/{{= request.application}}/static/images/globe_small.png" />
      <div id='introQuote'>
        <h1><b>Skapes.org</b> is a suite of web tools for finding, analyzing, and sharing spatial information.</h1>
      </div>
      
        <!--
        <div id='flashSS'>
        
            <img src="/shell/static/screenshots/hs1.jpeg"> 
            <img src="/shell/static/screenshots/hs2.jpeg"> 
            <img src="/shell/static/screenshots/hs3.jpeg"> 
            
        </div>
        
        -->
        
    </div>    
    
    <div id='feature'>
    
        <!--<a href="/{{= request.application }}/splash/find.html">-->
        <a href="/{{= request.application }}/splash/find.html">       
        <div class='box'>
	  <h2 class="letter">F</h2>
	  <p class="subscript">find</p>
        </div>
        </a>

        <a href="/{{= request.application }}/splash/analyze.html">       
        <div class='box' style="position:relative">
	  <h2 class="letter">A</h2>
	  <p class="subscript">analyze</p>
        </div>
        </a>

        <a href="/{{= request.application }}/splash/share.html">       
        <div class='box' style="position:relative">
	  <h2 class="letter">S</h2>
	  <p class="subscript">share</p>
        </div>
        </a>

        <a href="/{{= request.application }}/splash/tag.html">       
        <div class='box' style="position:relative">
	  <h2 class="letter">T</h2>
	  <p class="subscript">tag</p>
        </div>
        </a>

       
        <a href="/{{= request.application }}/splash/research.html">
        <div class='box'>
        <h2>Researchers</h2>
      <img style="float:right;position:relative; left:-15%; height:130px; margin-top: 5px;" src="/{{= request.application}}/static/images/200px-Public_Scientist.svg.png" />

        </div>
        </a>

        <a href="/{{= request.application }}/splash/dev.html">
        <div class='box'>
        <h2>Developers</h2>
	<img style="float:right; position:relative; left:-15%; height:130px; margin-top: 5px;" src="/{{= request.application}}/static/images/200px-Utilities-terminal.svg.png" />
        </div>
        </a>

        
        <a href="/{{= request.application }}/splash/case.html">
        <div class='box'>
        <h2>Case Studies</h2>
      <img style="float:right; position:relative; left:-15%; height:130px; margin-top: 5px;" src="/{{= request.application}}/static/images/suitcase.png" />
        </div>
        </a>
        

        <a href="/{{= request.application }}/splash/doc.html">
        <div class='box'>
        <h2>Documentation</h2>
      <img style="float:right; position:relative; left:-15%; height:130px; margin-top: 5px;" src="/{{= request.application}}/static/images/200px-Folder-open.svg.png" />
        </div>
        </a>

        
        <div class='clear'></div>
        
    </div>
