{{extend 'splash/layout.html' }}

   <div id='banner'></div>

    <div id='header'>
      <div id='introQuote'>
        <h1><b>Healthscapes</b> is a suite of web tools for finding, analyzing, and sharing global environmental health information.</h1>
      </div>
      
        <!--
        <div id='flashSS'>
        
            <img src="/shell/static/screenshots/hs1.jpeg"> 
            <img src="/shell/static/screenshots/hs2.jpeg"> 
            <img src="/shell/static/screenshots/hs3.jpeg"> 
            
        </div>
        
        -->
        
    </div>    
    
    <div id='feature'>
    
        <!--<a href="/{{= request.application }}/splash/find.html">-->
        <a href="/{{= request.application }}/splash/find.html">       
        <div class='box'>
	  <h2 class="letter">F</h2>
	  <p class="subscript">find</p>
        </div>
        </a>

        <a href="/{{= request.application }}/splash/analyze.html">       
        <div class='box' style="position:relative">
	  <h2 class="letter">A</h2>
	  <p class="subscript">analyze</p>
        </div>
        </a>

        <a href="/{{= request.application }}/splash/analyze.html">       
        <div class='box' style="position:relative">
	  <h2 class="letter">S</h2>
	  <p class="subscript">share</p>
        </div>
        </a>

        <a href="/{{= request.application }}/splash/analyze.html">       
        <div class='box' style="position:relative">
	  <h2 class="letter">T</h2>
	  <p class="subscript">tag</p>
        </div>
        </a>

       
        <a href="/{{= request.application }}/splash/dev.html">
        <div class='box'>
        <h2>Researchers</h2>
        </div>
        </a>

        <a href="/{{= request.application }}/splash/dev.html">
        <div class='box'>
        <h2>Developers</h2>
        </div>
        </a>

        
        <a href="/{{= request.application }}/splash/case.html">
        <div class='box'>
        <h2>Case Studies</h2>
        </div>
        </a>
        

        <a href="http://www.healthscapes.org/welcome/default/about">
        <div class='box'>
        <h2>Documentation</h2>
        </div>
        </a>

        
        <div class='clear'></div>
        
    </div>
