<!-- {{extend 'splash/layout.html'}}-->

<!--{{if 'message' in globals():}}{{=H2(message)}}{{else:}}{{=BEAUTIFY(response._vars)}}{{pass}}-->

<section class="promo">
  <article>

    <h2>Privacy Statement</h2>
    <p>
      We make no effort to identify public users of our site. No identifying data is disclosed to any third party for any purpose. Data that we collect is used only for server administration and Web protocol research.
    </p>
    <p>
      As is typical, we log http requests to our server. This means that we know the originating IP (e.g. 18.29.0.1) address of a user agent requesting a UR
L. We also know the Referer and User-Agent information accompanied with an HTTP request. We do not log the specific identity of visitors. We occasionally an
alyze the log files to determine which files are most requested and the previous site or user agent which prompted the request. Our logging is passive; we d
o not use technologies such as cookies to maintain any information on users.
    </p>
    <p>
      We also log requests to our search, cgi, and list maintenance services. This data is only used for administration and researching the efficacy of our 
tools.
      Logged information is kept indefinitely as admistrative and research
      material; it is not disclosed outside of site
      personnel. Aggregate (completely non-identifying) statistics generated
      from these logs may be reported as part of research results.
    </p>
    <p>
      This privacy statement was modified
      from <a href="http://www.w3.org/Consortium/Legal/privacy-statement-20000612">W3C</a>
    </p>
  </article>
</section>
