{{extend 'splash/layout.html'}}

<div class='subPage' id='share'>

    <div id='feature'>
    
        <a href="#">
        <div class='box'>
        <h2>Step 1:</h2>
        <p>Descrptions go here.</p>
        </div>
        </a>
       
        <a href="#">       
        <div class='box'>
        <h2>Step 2:</h2>
        <p>Descrptions go here.</p>
        </div>
        </a>
        
        <a href="#">
        <div class='box'>
        <h2>Step 3:</h2>
        <p>Descrptions go here.</p>
        </div>
        </a>
        
        <div class='clear'></div>
        
    </div>   
    
</div>
