#team .category {
	float: left;
	margin: 5px 10px 5px 10px;
	padding: 10px;
	-webkit-box-shadow: 3px 3px 3px 3px #51515c;
	-moz-box-shadow: 3px 3px 3px 3px #51515c;
	box-shadow: 3px 3px 3px 3px #51515c; 
}

#team .category .category_title {
	padding: 0 0 5px 0;
	border-bottom: 1px solid black;
}

#team .contributor {
	margin: 10px;
}

#team .contributor img {
	width: 100px;
} 
