{{ extend 'wiki/base.html' }}

<div id="plugin_wiki">
  <div style="float: right;">
    {{ for cat in MongoWrapper (mongo.categories.find ({request.function: True})): }}
    <a href="{{= URL (r = request, args = request.args, vars = {'cat': str (cat._id)}) }}">{{= cat.name }}</a><br />
    {{ pass }}
  </div>
  
  {{request.args.append (None) }}
  {{ for page in pages: }}
  <div class="page">
    {{ include 'wiki/page_base.html' }}
    {{ if page.more: }}<p style="text-align: right; margin-bottom: 20px;"><a href="{{= URL (r = request, args = [page.slug, 'view'])}}">MORE &#187;</a></p>{{ pass }}
    <div class="page_foot">
      <a href="{{= URL (r = request, args = [page.slug, 'view'], anchor = 'comments') }}">COMMENTS ({{= len (page.comments) }})</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ if (check_role (editor_role) or check_user (page.owner)): }}<a href="{{= URL(r=request, args = [page.slug, 'delete_confirm']) }}">DELETE</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ if page.public: }}<a href="{{= URL(r=request, args=[page.slug, 'unpublish']) }}">UNPUBLISH</a>{{ else: }}<a href="{{= URL(r=request, args=[page.slug, 'publish']) }}">PUBLISH</a>{{ pass }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{= URL(r=request, args=[page.slug, 'edit']) }}">EDIT</a>{{ pass }}
    </div>
  </div>
</div>
  {{ pass }}
  <div style="text-align: right;">
    {{if not first: }}<a href = "{{= URL (r = request, args = [request.args (0)], vars = older) }}">OLDER POSTS</a>{{ else: }} OLDER POSTS {{ pass }}&nbsp;&nbsp;&nbsp;&nbsp;
    {{if not last: }}<a href = "{{= URL (r = request, args = [request.args (0)], vars = newer) }}">NEWER POSTS</a>{{ else: }} NEWER POSTS {{ pass }}
  </div>

        <div class='clear'></div>

<div id="fatfooter">
  <p id="legal">
    <a href="/{{=request.application}}/splash/privacy.html">Privacy Policy</a>
    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    <a href="/{{=request.application}}/splash/terms.html">Terms of Use</a>
    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    {{=T('Powered By')}} <a href="http://www.web2py.com">Web2Py</a>
  </p>

  <p id="legal">
    <span xmlns:dct="http://purl.org/dc/terms/"
          href="http://purl.org/dc/dcmitype/Text" property="dct:title"
          rel="dct:type">Website content</span> by
    <a xmlns:cc="http://creativecommons.org/ns#" href="http://dot.skapes.org/" property="cc:attributionName" rel="cc:attributionURL" target="_blank">Skapes Project</a>
 is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
    <a rel="license"
       href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative 
                                                                    Commons License" style="border-width:0"
                                                               src="http://i.creativecommons.org/l/by/3.0/80x15.png" />
    </a>

  </p>


</div>


</div>
