{{extend 'layout.html'}}

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Home</a></li>
		<li><a href="#tabs-2">Blog</a></li>
		<li><a href="#tabs-4">About</a></li>
		<li><a href="#tabs-5">Team</a></li>
	</ul>
	<div id="tabs-1">
		{{ include "default/layout.html" }}
	</div>
	<div id="tabs-2">
		
	</div>
	
	<div id="tabs-4">
		{{ include 'about/index.html' }}
		<div style='clear:both;'></div>
	</div>

	<div id="tabs-5">
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu adporttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	</div>
</div>
