div#plugin_wiki {
    font-family: sans-serif;
}

div#plugin_wiki p.title {
    margin: 0px;
    margin-top: 20px;
    font-size: 2em;
    font-family: Trebuchet MS, sans-serif;
}

div#plugin_wiki p.date {
    font-size: .85em;
    color: #999;
    margin: 0px;
}

div#plugin_wiki div.page_body {
    margin: 20px 0px;
}

div#plugin_wiki h1 {
    font-size: 1em;
    margin: 10px 0px;
    margin-bottom: 0px;
}

div#plugin_wiki h2 {
    font-size: .85em;
    margin: 20px 0px;
    margin-bottom: 0px;
}

div#plugin_wiki p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1em;
    text-align: justify;
}

div#plugin_wiki div.page {
    margin: 0px 20px 50px 20px;
    clear: both;
}

div#plugin_wiki div.page_head p {
    text-indent: 0px;
}

div#plugin_wiki div.page_foot {
    text-align: right;
    clear: both;
}

div#plugin_wiki div.comment_body {
    margin: 20px 0px;
    text-indent: 0px;
}

div#plugin_wiki p.comments_title {
    font-size: 1.5em;
    font-weight: bold;
}

div#plugin_wiki div.comments_foot {
    margin-top: 50px;
}

div#plugin_wiki div.page_comments p {
    text-indent: 0px;
}
